.users {
    &__container {
        margin: 5px;
        padding: 12px;

        &:last-child {
            border-color: red;
            border-width: 3px;
            border-style: solid;
        }
    }
}

.mfe-container {
    display: inline-block;
    padding: 15px;
    border: 4px solid blue;
}